@model Recipe
@{
  string title = ViewBag.Action + " Recipe";
  ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="form-group">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="Date">Date</label>
    <input asp-for="Date" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="Author">Author</label>
    <input asp-for="Author" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="Description">Description</label>
    <textarea asp-for="Description" class="form-control"></textarea>
  </div>

  <div class="form-group" style="margin-bottom: 20px;">
    <label asp-for="ImagePath">Image Path</label>
    <input asp-for="ImagePath" class="form-control">
  </div>

  <input type="hidden" asp-for="RecipeId" />

  <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
  <a asp-controller="AddRecipes" asp-action="Index" class="btn btn-primary">
    Cancel
  </a>
</form>
